

 <div class="modal" id="myModal">
     <div class="modal-content">
         <span class="close-button">&times;</span>
         <p>Some text ........</p>
     </div>
 </div>


<footer>
    <p>
        copyright &copy; Mugen
    </p>
</footer>


<script src="js/index.js"></script>