<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/styles.css">
    <title>TO DO LIST</title>
</head>

<body>
    <section class="app">
        <div class="box date ">
            <h1 class=""> 19 Monday, 2022</h1>           
        </div>
        <div class="box menu">
            <i class='bx bx-menu'></i>
            <h1> Title </h1>
          <i class='bx bx-dots-vertical-rounded'></i> <!-- add logout here  -->
        </div>

        <div class="app-box">
            <form action="" class="form-task">
                <div class="item">
                    <input type="checkbox" name=checkbox"" id="">                    
                    <p class="taks"> doings </p>
                    <i class='bx bx-trash bx-tada'></i>
                </div>
            </form>

            <form action="" class="item">
                <input type="text" placeholder="Add Task" autocomplete="off">
                <button type="submit">+</button>
            </form>
        </div>
    </section>

    <div class="modal" id="myModal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p>Some text ........</p>
        </div>
    </div>

    <footer>
        <p>
            copyright &copy; Mugen
        </p>
    </footer>


    <script src="js/index.js"></script>
</body>

</html>